body {
    background-color: #f8f9fa;
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
  }
  
  header {
    background-color: #2a009c !important; 
  }
  
  .logo {
    width: 150px !important;
  }
  
  h2 {
    margin-top: 30px;
    color: #6c757d;
  }
  
  .dark-mode {
    background-color: #000000;
    color: #f8f9fa;
  }
  
  .dark-mode header,
  .dark-mode footer {
    background-color: #000;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .tatuagem-img {
    max-width: 20%; 
    height: auto;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 8px; 
    object-fit: cover;
  }
